html {
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
    
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
    
    
    font-family: open sans, sans-serif;
    background-color: #4e4e4e;
    overflow: hidden;
}

main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: calc(100% - 400px);
    margin-bottom: 10px;
}

header {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

section {
    -webkit-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
    -ms-flex-item-align: center;
    align-self: center;
}

footer {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

aside {
    -webkit-box-flex: 1;
    -ms-flex: 1 200px;
    flex: 1 200px;
    -ms-flex-item-align: center;
    align-self: center;
    letter-spacing: 2px;
    color: #fff;
}

li {
    display: block;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
}

li::first-letter {
    color: #cece8e;
    font-size: 120%;
}

h1 {
    font-size: 50px;
    color: white;
    margin-bottom: 0;
    color: #cece8e;
}

h2 {
    margin-top: 0;
    font-size: 30px;
    padding-bottom: 0;
    color: white;
}

h3 {
    margin-top: 0;
    font-size: 20px;
    padding-bottom: 60px;
    color: white;
    font-weight: 100;
}


.input-form {
    margin-bottom: 50px;
}

.input-box {
    min-width: 250px;
}

input,
textarea {
    padding: 5px;
    border: 1px solid #DDDDDD;
    margin: 1px;
    outline: none;
    width: 30%;
    border-radius: 5px;
    font-family: open sans, sans-serif;
    letter-spacing: 1px;
}

input:focus,
textarea:focus {
     border: 1px solid rgb(164, 175, 178);
     -webkit-box-shadow: 0 0 5px 2px rgb(164, 175, 178);
     box-shadow: 0 0 5px 2px rgb(164, 175, 178);
}

.button {
    background-color: #5b5b5b;
    border: none;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    -webkit-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.button:hover {
    background-color: #7b7b7b;
}

.button:active {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.buttonCopy {
    margin-top: 10px;
    padding: 4px;
    background-color: #5b5b5b;
    border: 1px solid #5b5b5b;
    color: white;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    -webkit-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.buttonCopy:hover {
    background-color: #7b7b7b;
}

.buttonCopy:active {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.output-box {
    width: 70%;
    min-width: 200px;
    min-height: 200px;
    max-height: 500px;
    border-radius: 15px;
    padding: 10px;
    background-color: #5b5b5b;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 5px;
    text-transform: uppercase;
    overflow-y: auto;
    overflow-x: hidden;
}

.output-box span {
    display: inline-block;
}
.output-box span::first-letter {
    color: #cece8e;
    font-size: 150%;
}


/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px grey;
    box-shadow: inset 0 0 10px grey; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #cece8e; 
    border-radius: 10px;
}